footer.site-footer {
	background: $blacker;
	color: $white;

	.last-chance-upsell {
		display: flex;
		align-items: space-between;
		padding: 4rem 0 3rem;

		div {
			width: calc(100% / 3);
			h3 {
				margin-top: 0;
				font-size: $size-h4;
			}
			p {
				max-width: 88%;
				color: $whitish;

				font-size: 1.3rem;
				line-height: 1.6;
			}
		}
		
	}

	.breadcrumbs {
		padding: 2rem 0;
		height: 35px;
		@include border-top($whitish);
	}
}